# Environment
.env
.venv

# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea

# VSCode
.vscode/

# Data
data/

# testing scripts/notebooks
example/
notebooks/

# logs
*.log

# lock files
*.lock

# model artifacts
*.pt

# tensorboard logs
tensorboard_logs/

# checkpoints
**checkpoints/

# cursor
.cursor/
.cursorrules

xla/